/.idea
build/*
dist/*
.tox/*
/activate
.venv/*
.venv_devel/*
.venv_ansible4_10/*
.venv_2_10/*
.venv_2_9/*
**/*.pyc
**/*.egg-info
.fake_src/*
__fake_src/*
__fake_src_stubs/*
.coverage
*.tar.gz
my-notes.txt
.collections
.download
out/*
.pyre/*
requirements_all_latest*.txt
.wheels_requirements
pytestdebug.log
.tmp-inst-collection/*
.tmp