agent {
    data_dir = "{{ spire_agent_data_dir }}"
    log_level = "{{ spire_agent_log_level }}"
    trust_domain = "{{ spire_agent_trust_domain }}"
    server_address = "{{ spire_server_address }}"
    server_port = "{{ spire_server_port }}"
    socket_path ="{{ spire_agent_socket_path }}"
    log_file="{{ spire_agent_log_dir }}/spire-agent.log"
    # Insecure bootstrap is NOT appropriate for production use but is ok for
    # simple testing/evaluation purposes.
    insecure_bootstrap = false
    trust_bundle_path = "{{ spire_agent_config_dir }}/trust_bundle.pem"
    join_token = "$spire_agent_join_token"
}

plugins {
   KeyManager "disk" {
        plugin_data {
            directory = "{{ spire_agent_data_dir }}"
        }
    }

    NodeAttestor "join_token" {
        plugin_data {}
    }

    WorkloadAttestor "unix" {
        plugin_data {}
    }
}